$font-style:'Inter', sans-serif;
.container{
    background-color:rgb(228, 224, 224);
    padding:40px;
    margin-top: 70px;
  }
  .card-body{
    background-color: rgb(200, 225, 234);
    text-align: center;
    padding: 30px;
    font-family: $font-style;

  }
  button{
    border-radius: 10px;
    padding: 8px;
    margin: 15px;
    font-weight:500;

  
  }
  .button1{
    background-color: rgb(115, 161, 139);
    border-color: rgb(115, 161, 139);
  }
  .button2{
    background-color:rgb(211, 160, 160);
    border-color: rgb(211, 160, 160) ;
    
  }
  .button3{
    background-color: lightgray;
    border-color: lightgray;
  }